/* ==========================================================================
   HTML5 CSS Minimalist Design - AgilePlaya
   ========================================================================== 
*/

/* =====================================================================================
                              Mode Switching Button
======================================================================================*/

body {
  --color: hsl(269, 19%, 30%);

  --backColor: #dedede;

  --wrapperBackColor: rgba(225, 225, 225, 0.15);
  --wrapperBackHover: rgba(230, 230, 230, 0.75);
  --wrapperBorder: #69696942;
  --centreText: rgb(100, 100, 100);

  --linkColor: #570f9b;
  --linkColorHover: #4d0491;
  --linkShadow: #a0a0a0;
  
  --iconBlockBG: rgba(255, 255, 255, 0.05);
  --iconBlockBGHover: rgba(255, 255, 255, 0.45);
  --iconBlockTextShadow: #69696942;
  --logoBG: rgba(0, 0, 0, 0);

  --lightShadow: rgb(255, 255, 255);
  --darkShadow: rgb(175, 175, 175);

  --macOSText: black;
  /* --linkBgHover: hsla(214, 100%, 85%, 1); */
  /* --linkFocus: hsla(214, 71%, 80%, 0.3); */
  /* --focusOutline: var(--linkFocus) solid 0.25rem; */
  /* --imgFilter: none; */
}

@media (prefers-color-scheme: dark) {
  body:not([data-lightMode="light"]) {
    --color: #fafafa;

    --backColor: #252525;

    --wrapperBackColor: rgba(25, 25, 25, 0.15);
    --wrapperBackHover: rgba(25, 25, 25, 0.45);
    --wrapperBorder: #42424269;
    --centreText: rgb(155, 155, 155);
    
    --linkColor: #be84f5;
    --linkColorHover: #be84f5;
    --linkShadow: #696969;

    --iconBlockBG: rgba(55, 55, 55, 0.05);
    --iconBlockBGHover: rgba(45, 45, 45, 0.45);
    --iconBlockTextShadow: #42424269;
    --logoBG: rgba(0, 0, 0, 0);

    --lightShadow: rgb(80, 80, 80);
    --darkShadow: rgb(0, 0, 0);

    --macOSText: white;
    /* --imgFilter: grayscale(15%) brightness(85%); */
  }
}

/* Duplicated dark mode for button action */

body[data-lightMode="dark"] {
  --color: #464646;

  --backColor: #252525;

  --wrapperBackColor: rgba(25, 25, 25, 0.15);
  --wrapperBackHover: rgba(25, 25, 25, 0.45);
  --wrapperBorder: #424242;
  --centreText: rgb(155, 155, 155);

  --linkColor: #be84f5;
  --linkColorHover: #be84f5;
  --linkShadow: #696969;

  --iconBlockBG: rgba(55, 55, 55, 0.05);
  --iconBlockBGHover: rgba(45, 45, 45, 0.45);
  --iconBlockTextShadow: #42424269;
  --logoBG: rgba(0, 0, 0, 0);

  --lightShadow: rgb(80, 80, 80);
  --darkShadow: rgb(0, 0, 0);

  --macOSText: white;
  /* --imgFilter: grayscale(15%) brightness(85%); */
}
/* 
body {
  color: var(--color);
  background-color: var(--bgColor);
  background-image: var(--bgPage);
  transition: 
    background-image .3s ease-out,
    background-color .3s ease-out,
    color .3s ease-out;
}

img:not([src*=".svg"]) {
  filter: var(--imgFilter);
  transition: filter 0.3s ease-out;
}

a:link,
a:visited {
  color: var(--linkColor);
  text-decoration-color: var(--linkColorUnderline);
  outline: hsla(214, 71%, 80%, 0) solid .25rem;
  transition: color .5s ease-out, background-color .5s ease-out, outline-color .5s ease-out;
}

a:hover,
a:focus {
  color: var(--linkColorHover);
  outline: var(--linkBgHover) solid .25rem;
  background-color: var(--linkBgHover);
} */

button::-moz-focus-inner {
  border: 0;
}

.actions_btn-mode {
  position: fixed;
  z-index: 50;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border: 0;
  background-color: transparent;
  color: inherit;
  padding: 0.25rem;
}

/* Switch icon between dark & light */
.actions_svg-mode > * {
  transition: opacity .5s ease-out;
}

[data-lightMode="light"] .mode-dark,
[data-lightMode="dark"] .mode-light {
  opacity: 1;
}

[data-lightMode="light"] .mode-light,
[data-lightMode="dark"] .mode-dark {
  opacity: 0;
}


/* =====================================================================================
                               Initializing style 
======================================================================================*/


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, 
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, 
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  overflow: hidden;
  vertical-align:baseline;
  background: transparent;
}

body {
  line-height: 1;
  background-color: var(--backColor);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block
}

blockquote, q {
  quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
  content:none
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration:none
}

mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold
}

del {
  text-decoration:line-through
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help
}

table {
  border-collapse:collapse;border-spacing:0
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0
}

input, select {
  vertical-align:middle
}

li {
  list-style:none
}

html, body{ 
  width:100%;
  height:100%;
  background:#ffffff;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Comfortaa', cursive;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  position: relative;
  z-index: 1;
}

/* ==================================================================================== */



/* ================================================================== */


/*
@media all and (orientation:landscape) {
  .logo_iiitl {
    position: relative;
    float: left;
    width: 7%;
    height: 5%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  }

  .logo_quasar {
    position: relative;
    float: right;
    width: 14%;
    height: 5%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  } 

}

@media all and (orientation:portrait) {
  .logo_iiitl {
    position: relative;
    float: left;
    width: 14%;
    height: 10%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  }

  .logo_quasar {
    position: relative;
    float: right;
    width: 28%;
    height: 10%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  } 

}

.logo_iiitl {
position: relative;
float: left;
width: 7%;
height: 5%;
resize: both;
padding: 1%;
background-color: rgba(255, 255, 255, 0);
}

.logo_quasar {
position: relative;
float: right;
width: 14%;
height: 5%;
resize: both;
padding: 1%;
background-color: rgba(255, 255, 255, 0);
}

.centre_logo {
  position: absolute;
  width: max-content;
  left: 48%;
  border-radius: 60px;
  background-color: rgba(100, 100, 100, 0);
  padding: 0px;
}

.mail_logo {
  width: 60px;
  height: 60px;
  resize: both;
  align-self: center;
  color: gray;
  z-index: 50;
}

.centre_logo:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.25)
} 

a:hover {
  cursor: pointer;
}

nav ul a, nav .brand-logo {
  color: #444;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
} */



/* =====================================================================================
                          Switchable Light Mode - Dark Mode
======================================================================================*/


/*    Particles Background Style     */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: var(--backColor);
  /* background-color: #252525; */
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

/*    Page Styling     */

.wrapper {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
  padding: 3.5%;

  align-items: center;
  align-content: center;
  text-align: center;

  -moz-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;

  backdrop-filter: blur(0.25rem);
  
  background-color: var(--wrapperBackColor);
  border-width: 2px;
  border-style: solid;
  border-color: var(--wrapperBorder);
  border-radius: 2rem;
  z-index: 10;
}

.wrapper:hover {
  background-color: var(--wrapperBackHover);
}

.centre-text {
  display:block;
  position: relative;
  color: var(--centreText);
  
  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

a.text-glow {
  -moz-transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;

  border-bottom: dotted 1px;
  border-bottom-color: var(--linkColor);
  text-decoration: none;
  color: var(--linkColor);
  text-shadow: 1px 1px 2px var(--linkShadow);
}

a:hover {
  border-bottom-color: transparent;
  text-decoration: none;
  color: var(--linkColorHover);
}

.cards-box {
  display: block;
  position: relative;
  margin: auto;
  padding: 2rem;
  align-content: center;
}

h1 {font-family: 'Comfortaa', cursive; font-style: cursive; font-weight: 600; line-height: 5rem; font-size: 3rem;}

p {font-family: 'Quicksand', sans-serif; font-style: sans-serif; font-size: 1.5rem;}

.text-shadow-light {
  text-shadow: 2px 2px 4px #69696942;
}

.icon-block {
  display: block;
  float: left;
  padding: 1rem 0rem 0rem 0rem;
  /* margin: 5rem 0rem 0rem 5rem; */
  border-radius: 1rem;

  font-size: 1.5rem;

  text-shadow: 2px 2px 4px var(--iconBlockTextShadow);
  
  background-color: var(--iconBlockBG);
  
  backdrop-filter: blur(2rem);
  
  box-shadow: -0.5rem 0.5rem 1rem var(--darkShadow), 0.5rem -0.5rem 1rem var(--lightShadow);

  -moz-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

.icon-block:hover {
  background-color: var(--iconBlockBGHover);
  backdrop-filter: blur(5rem);
}

.icon-block-text {
  z-index: 25;
  width: 10rem;
  display: block;
  position: relative;
  /* padding: 0.5rem 2rem 2rem 2rem; */
  /* padding: 0.5rem 7.5rem 2rem 7.5rem; For portrait view*/
}

.icon {
  z-index: 15;
  padding: 1rem;

  border-radius: 50%;

  transform-origin: center;
  transform: scale(1);
  
  -moz-transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(0.9);
}

.logo {
  z-index: 20;
  display: block;
  position: absolute;
  top: 0;
  /* padding: 2rem 1rem 5.5rem 1rem; */
  /* padding: 2rem 5rem 5.5rem 5rem;    For portrait view*/
  border-radius: 1rem;
  backdrop-filter: blur(0.1rem);
  background-color: var(--logoBG);

  -moz-transition: backdrop-filter 0.5s ease-in-out;
  -webkit-transition: backdrop-filter 0.5s ease-in-out;
  -ms-transition: backdrop-filter 0.5s ease-in-out;
  transition: backdrop-filter 0.5s ease-in-out;
}

.logo:hover {
  backdrop-filter: blur(0.75rem);
}

/* =====================================================================================
                                    Footer
======================================================================================*/

.footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
}

.footer div {
  box-shadow: none;
  display: block;
  position: relative;
  float: left;
  width: auto;
  padding: 0;
  margin: 0;
  color: var(--centreText);
  line-height: 1.75rem;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-style: sans-serif;

  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.footer .left {
  left: 5rem;
}

.footer .centre {
  left: 48rem;
}

.footer .right {
  left: 87.5rem;
}

.footer a {
  color: var(--linkColor);
  border-bottom: dotted 1px;
  border-bottom-color: var(--linkColor);
  font-family: 'Comfortaa', cursive;
  font-style: cursive;

  -moz-transition: color 0.5s ease-in-out, border-color 0.25s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out, border-color 0.25s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, border-color 0.25s ease-in-out;
  transition: color 0.5s ease-in-out, border-color 0.25s ease-in-out;
}

.footer a:hover {
  border-color: transparent;
}

@media screen and (orientation: landscape) {
  .left {
    position: relative;
    left: 15%;
    transform: translateX(-25%);
    box-shadow: -0.5rem 0.5rem 1rem var(--darkShadow), 0.5rem -0.5rem 1rem var(--lightShadow);

    -moz-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .centre {
    position: relative;
    left: 20%;
    transform: translateX(0%);
    box-shadow: 0rem 0.5rem 1rem var(--darkShadow), 0rem -0.5rem 1rem var(--lightShadow);

    -moz-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .right {
    position: relative;
    left: 35%;
    transform: translateX(-25%);
    box-shadow: 0.5rem 0.5rem 1rem var(--darkShadow), -0.5rem -0.5rem 1rem var(--lightShadow);

    -moz-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
}

.macos {
  color: var(--macOSText) !important;

  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}



/* =====================================================================================
                                  Portrait View
======================================================================================*/

@media screen and (orientation: portrait) {
  .wrapper {
    padding-bottom: 10%;
    border-radius: 3vw;
  }
  
  h1 {line-height: 10vw; font-size: 7vw;}

  p {font-size: 3.5vw;}

  .icon-block {
    display: block;
    position: relative;;
    float: left;
    padding: 3vw 0 0 0;
    /* margin: 5rem 0rem 0rem 5rem; */
    border-radius: 1rem;

    margin-top: 2rem;

    left: 50%;
    transform: translateX(-50%);
    
    font-size: 3vw;
  
    text-shadow: 2px 2px 4px var(--iconBlockTextShadow);
    
    background-color: var(--iconBlockBG);
    
    backdrop-filter: blur(2rem);
    
    box-shadow: -0.5rem 0.5rem 1rem var(--darkShadow), 0.5rem -0.5rem 1rem var(--lightShadow);

    -moz-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, text-shadow 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .icon-block:hover {
    background-color: var(--iconBlockBGHover);
  }

  .icon-block-text {
    /* padding: 0.5rem 5rem 2rem 5rem; */
    width: 20vw;
    font-size: 3vw;
    padding: 1vw 8vw 4vw 8vw;
  }
  
  .icon {
    width: 20vw !important;
    height: 20vw !important;
    padding: 2vw;
  }

  .logo {
    width: 20vw !important;
    height: 20vw !important;
    padding: 5vw 8vw 12vw 8vw;
  }
}



/* =====================================================================================
                                  Landscape View
======================================================================================*/

@media screen and (orientation: landscape) {
  .icon-block {
    margin-top: 2rem;
  }

  .icon-block-text {
    padding: 0.5rem 1rem 2rem 1rem;
  }

  .logo {
    padding: 2rem 1rem 5.5rem 1rem;
  }
}

