/* ==========================================================================
   HTML5 CSS Minimalist Design - AgilePlaya
   ========================================================================== 
*/



/*    Initializing style     */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, 
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, 
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block
}

blockquote, q {
  quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
  content:none
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration:none
}

mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold
}

del {
  text-decoration:line-through
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help
}

table {
  border-collapse:collapse;border-spacing:0
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0
}

input, select {
  vertical-align:middle
}

li {
  list-style:none
}

html, body{ 
  width:100%;
  height:100%;
  background:#ffffff;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Comfortaa', cursive;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  position: relative;
  z-index: 1;
}

/* ==================================================================================== */

/*
@media all and (orientation:landscape) {
  .logo_iiitl {
    position: relative;
    float: left;
    width: 7%;
    height: 5%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  }

  .logo_quasar {
    position: relative;
    float: right;
    width: 14%;
    height: 5%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  } 

}

@media all and (orientation:portrait) {
  .logo_iiitl {
    position: relative;
    float: left;
    width: 14%;
    height: 10%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  }

  .logo_quasar {
    position: relative;
    float: right;
    width: 28%;
    height: 10%;
    resize: both;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0);
  } 

}

.logo_iiitl {
position: relative;
float: left;
width: 7%;
height: 5%;
resize: both;
padding: 1%;
background-color: rgba(255, 255, 255, 0);
}

.logo_quasar {
position: relative;
float: right;
width: 14%;
height: 5%;
resize: both;
padding: 1%;
background-color: rgba(255, 255, 255, 0);
}

.centre_logo {
  position: absolute;
  width: max-content;
  left: 48%;
  border-radius: 60px;
  background-color: rgba(100, 100, 100, 0);
  padding: 0px;
}

.mail_logo {
  width: 60px;
  height: 60px;
  resize: both;
  align-self: center;
  color: gray;
  z-index: 50;
}

.centre_logo:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  cursor: pointer;
  background-color: rgba(150, 150, 150, 0.25)
} 

a:hover {
  cursor: pointer;
}

nav ul a, nav .brand-logo {
  color: #444;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
} */


/* =====================================================================================
                              Default / Light Mode
======================================================================================*/


/*    Particles Background Style     */

/* #particles-js{
  width: 100%;
  height: 100%;
  background-color: #dedede;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */

/*    Page Styling     */

/* .wrapper {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
  padding: 5%;

  align-items: center;
  align-content: center;
  text-align: center;

  -moz-transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  backdrop-filter: blur(0.25rem);
  
  background-color: rgba(225, 225, 225, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: #696969;
  border-radius: 0.5rem;
  z-index: 10;
}

.wrapper:hover {
  background-color: rgba(225, 225, 225, 0.65);
}
*/

/* .centre-text {
  display:block;
  position: relative;
  color: rgb(100, 100, 100);
} */

/* a.text-glow {
  -moz-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  border-bottom: dotted 1px;
  border-bottom-color: #551A8B;
  text-decoration: none;
  color: #551A8B;
  text-shadow: 1px 1px 2px #a0a0a0;
} */

/* .icon-block {
  display: block;
  float: left;
  padding: 1rem 0rem 0rem 0rem;
  margin: 5rem 0rem 0rem 5rem;        Commented content
  border-radius: 1rem;

  font-size: 1.5rem;

  text-shadow: 2px 2px 4px #69696942;
  
  background-color: rgba(255, 255, 255, 0.05);
  
  backdrop-filter: blur(2rem);
  
  box-shadow: -0.5rem 0.5rem 1rem rgb(175, 175, 175), 0.5rem -0.5rem 1rem white;

  -moz-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
  transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
}

.icon-block:hover {
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10rem);
} */

/* @media screen and (orientation: landscape) {
  .left {
    position: relative;
    left: 15%;
    transform: translateX(-25%);
    box-shadow: -0.5rem 0.5rem 1rem rgb(175, 175, 175), 0.5rem -0.5rem 1rem white;
  }

  .centre {
    position: relative;
    left: 20%;
    transform: translateX(0%);
    box-shadow: 0rem 0.5rem 1rem rgb(175, 175, 175), 0rem -0.5rem 1rem white;
  }

  .right {
    position: relative;
    left: 35%;
    transform: translateX(-25%);
    box-shadow: 0.5rem 0.5rem 1rem rgb(175, 175, 175), -0.5rem -0.5rem 1rem white;
  }
} */

/* .macos {
  color: black !important;
} */



/* =====================================================================================
                                    Dark Mode
======================================================================================*/


/*    Particles Background Style     */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #252525;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*    Page Styling     */

.wrapper {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
  padding: 5%;

  align-items: center;
  align-content: center;
  text-align: center;

  -moz-transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  backdrop-filter: blur(0.25rem);
  
  background-color: rgba(25, 25, 25, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: #424242;
  border-radius: 2rem;
  z-index: 10;
}

.wrapper:hover {
  background-color: rgba(25, 25, 25, 0.45);
}

.centre-text {
  display:block;
  position: relative;
  color: rgb(150, 150, 150);
}

a.text-glow {
  -moz-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  border-bottom: dotted 1px;
  border-bottom-color: #be84f5;
  text-decoration: none;
  color: #be84f5;
  text-shadow: 1px 1px 2px #696969;
}

.cards-box {
  display: block;
  position: relative;
  margin: auto;
  padding: auto;
  align-content: center;
}

h1 {font-family: 'Comfortaa', cursive; font-style: cursive; font-weight: 600; line-height: 5rem; font-size: 3rem;}

p {font-family: 'Quicksand', sans-serif; font-style: sans-serif; font-size: 1.5rem;}

.text-shadow-light {
  text-shadow: 2px 2px 4px #69696942;
}

a:hover {
  border-bottom-color: transparent;
  text-decoration: none;
}

.icon-block {
  display: block;
  float: left;
  padding: 1rem 0rem 0rem 0rem;
  /* margin: 5rem 0rem 0rem 5rem; */
  border-radius: 1rem;

  font-size: 1.5rem;

  text-shadow: 2px 2px 4px #42424269;
  
  background-color: rgba(55, 55, 55, 0.05);
  
  backdrop-filter: blur(2rem);
  
  box-shadow: -0.5rem 0.5rem 1rem rgb(0, 0, 0), 0.5rem -0.5rem 1rem rgb(80, 80, 80);

  -moz-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
  transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
}

.icon-block:hover {
  background-color: rgba(45, 45, 45, 0.45);
  backdrop-filter: blur(10rem);
}

.icon-block-text {
  z-index: 25;
  width: 10rem;
  display: block;
  position: relative;
  /* padding: 0.5rem 2rem 2rem 2rem; */
  /* padding: 0.5rem 7.5rem 2rem 7.5rem; For portrait view*/
}

.icon {
  z-index: 15;
  padding: 1rem;

  border-radius: 50%;

  transform-origin: center;
  transform: scale(1);
  
  -moz-transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(0.9);
}

.logo {
  z-index: 20;
  display: block;
  position: absolute;
  top: 0;
  /* padding: 2rem 1rem 5.5rem 1rem; */
  /* padding: 2rem 5rem 5.5rem 5rem;    For portrait view*/
  border-radius: 1rem;
  backdrop-filter: blur(0.1rem);
  background-color: rgba(0, 0, 0, 0);

  -moz-transition: backdrop-filter 0.2s ease-in-out;
  -webkit-transition: backdrop-filter 0.2s ease-in-out;
  -ms-transition: backdrop-filter 0.2s ease-in-out;
  transition: backdrop-filter 0.2s ease-in-out;
}

.logo:hover {
  backdrop-filter: blur(0.75rem);
}

.footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
}

@media screen and (orientation: landscape) {
  .left {
    position: relative;
    left: 15%;
    transform: translateX(-25%);
    box-shadow: -0.5rem 0.5rem 1rem rgb(0, 0, 0), 0.5rem -0.5rem 1rem rgb(80, 80, 80);
  }

  .centre {
    position: relative;
    left: 20%;
    transform: translateX(0%);
    box-shadow: 0rem 0.5rem 1rem rgb(0, 0, 0), 0rem -0.5rem 1rem rgb(80, 80, 80);
  }

  .right {
    position: relative;
    left: 35%;
    transform: translateX(-25%);
    box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0), -0.5rem -0.5rem 1rem rgb(80, 80, 80);
  }
}

.macos {
  color: white !important;
}



/* =====================================================================================
                                  Portrait View
======================================================================================*/

@media screen and (orientation: portrait) {
  .wrapper {
    padding-bottom: 10%;
    border-radius: 3vw;
  }
  
  h1 {line-height: 10vw; font-size: 7vw;}

  p {font-size: 3.5vw;}

  .icon-block {
    display: block;
    position: relative;;
    float: left;
    padding: 3vw 0 0 0;
    /* margin: 5rem 0rem 0rem 5rem; */
    border-radius: 1rem;

    margin-top: 2rem;

    left: 50%;
    transform: translateX(-50%);
    
    font-size: 3vw;
  
    text-shadow: 2px 2px 4px #42424269;
    
    background-color: rgba(55, 55, 55, 0.05);
    
    backdrop-filter: blur(2rem);
    
    box-shadow: -0.5rem 0.5rem 1rem rgb(0, 0, 0), 0.5rem -0.5rem 1rem rgb(95, 95, 95);
  
    -moz-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
    -ms-transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
    transition: background-color 0.4s ease-in-out, backdrop-filter 0.2s ease-in-out;
  }

  .icon-block-text {
    /* padding: 0.5rem 5rem 2rem 5rem; */
    width: 20vw;
    font-size: 3vw;
    padding: 1vw 8vw 4vw 8vw;
  }
  
  .icon {
    width: 20vw !important;
    height: 20vw !important;
    padding: 2vw;
  }

  .logo {
    width: 20vw !important;
    height: 20vw !important;
    padding: 5vw 8vw 12vw 8vw;
  }
}



/* =====================================================================================
                                  Landscape View
======================================================================================*/

@media screen and (orientation: landscape) {
  .icon-block {
    margin-top: 2rem;
  }

  .icon-block-text {
    padding: 0.5rem 1rem 2rem 1rem;
  }

  .logo {
    padding: 2rem 1rem 5.5rem 1rem;
  }
}


